<!DOCTYPE html>
<html lang="en">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">	

	<head>
		<title>Eat-Da-Burger</title>
	</head>
	<body>
		{{{ body }}}
		
	</body>
</html>